{% extends 'Base.html' %}

    {% block body %}
        <h1>Escolha uma visita para iniciar</h1>
    {% for i in visita %}
        <div id="formstyle" style="font-size:30px;">
                Escola: {{ i.school }} 
                <input style="background-color:#6C5FDD; border:#6C5FDD" 
                type="button" class="btn btn-primary" value="Iniciar" 
                onclick="location.href='{% url 'checklist:checklistForm' i.id %}'"> <br>
        </div>
    {%  endfor %}
    <input style="background-color:#6C5FDD; border:#6C5FDD" type="button" 
    class="btn btn-primary" value="Nova Visita" onclick="location.href='{% url 'search_school:searchSchool' %}'">

{% endblock %}