#personalizadoform{

	border-style: solid;
	border-radius: 30px;
	border-color: rgba(255, 255, 255, 0.4);
	background:rgba(227,74,65,0.4);
	padding: 10px;
	position: relative;
}

#pop {
	position:absolute;
	top:25%;
	left:50%;
	margin-left:-300px;
	margin-top:-100px;
	padding:8px;
	width:600px;
	height:100px;
	border-radius:10px;
	border:solid #9090B0 1px; 
	background-color:rgba(174, 176, 199, 0.5)
}

.background-schedule {
	background-color: #FFFFFF;
}

.label-date {
	font-size: 20px;
}

.label-time {
	font-size: 20px;
}

.input-date {
	text-align: center; 
	color: #707070; 
	border: 1px; 
	border-style: solid; 
	border-radius: 8px; 
	width: 90%; 
	height: 60px;
}

.input-time {
	text-align: center;
	color: #707070;
	border: 1px;
	border-style: solid;
	border-radius: 8px ;
	width: 90%;
	height: 60px;
}

div.center-table-schedule {
	text-align: center;
}

div.center-table-schedule table {
	margin: 0 auto;
	text-align: center;
}

#formstyle{
	
		border-style: solid;
		border-radius: 30px;
		border-color: rgba(255, 255, 255, 0.4);
		background: rgba(255, 255, 255, 0.3);	
		padding: 10px;
		position: relative;
	}
#formstyle:hover{
	background:rgba(227,74,65,0.4);	
}

#personalizado {
	border-style: solid;
	border-radius: 50px;
	border-color: rgba(255, 255, 255, 0.4);
	background: rgba(255, 255, 255, 0.6);	
}
body {
	background: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 45px;
    color: rgba(9, 14, 88, 0.8);
    text-align: center;
}

strong { font-weight: 700; }

a, a:hover, a:focus {
	color: #3D2BA5;
	text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

h1, h2 {
	margin-top: 10px;
	font-size: 42px;
    font-weight: 700;
    color: #18225F(253, 253, 253);
    line-height: 54px;
    text-transform: uppercase;
}
h2 { text-align: left; }

h3 {
	font-size: 26px;
    font-weight: 700;
    color: #18225F;
    line-height: 30px;
    text-transform: uppercase;
}

img { max-width: 100%; }

::-moz-selection { background: #3D2BA5; color: #050404; text-shadow: none; }
::selection { background: #3D2BA5; color: #0E0C0C; text-shadow: none; }


/***** Loader *****/

.loader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	overflow: hidden !important;
	z-index: 99999;
}

.loader-img {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -30px 0 0 -30px;
	width: 60px;
	height: 60px;
	background: url(../img/loading.gif) center center no-repeat;
}


/***** General style, all sections *****/

.section-container {
    margin: 0 auto;
    padding-bottom: 60px;
}

.section-container-gray { background: #f8f8f8; }

.section-container-full-bg, 
.section-container-full-bg h1, 
.section-container-full-bg h2, 
.section-container-full-bg h3, 
.section-container-full-bg h4 { color: #050404; }

.section-description {
	margin-top: 60px;
    padding-bottom: 10px;
}

.section-description p {
    margin-top: 30px;
    font-size: 22px;
    line-height: 36px;
    text-align: left;
}

.section-bottom-link {
	padding-top: 15px;
	padding-bottom: 20px;
}

.big-link-1 {
	display: inline-block;
	margin: 0 5px;
	padding: 15px 20px;
	background: #3D2BA5;
	border: 0;
	font-size: 22px;
    font-weight: 300;
    line-height: 22px;
    color: #0C0909;
    -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;
}
.big-link-1:hover, .big-link-1:focus, .big-link-1:active { outline: 0; opacity: 0.6; color: #0A0707; }

.big-link-2 {
	display: inline-block;
	margin: 0 5px;
	padding: 14px 19px;
	background: none;
	border: 1px solid #F7F2F2;
	font-size: 22px;
    font-weight: 300;
    line-height: 22px;
    color: #ECE8E8;
    -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;
}
.big-link-2:hover, .big-link-2:focus, .big-link-2:active, .big-link-2:active:focus { outline: 0; opacity: 0.6; background: none; color: #fff; }

.green-text { color: #3D2BA5; }


/***** Dividers *****/

.divider-1 {
	text-align: left;
}

.divider-1 span {
	display: inline-block;
	width: 300px;
	height: 1px;
	background: #0E0D0D;
}

.divider-1-bottom {
	padding-top: 10px;
	padding-bottom: 5px;
}


/***** Small sliders *****/

.slider-1-box { text-align: center; }

.slider-1-box img { display: none; }
.slider-1-box img.slider-1-img-active { display: inline; }

.slider-1-nav { margin-top: 30px; }

.slider-1-nav span {
	display: inline-block;
	width: 18px;
	height: 18px;
	margin: 0 7px;
	background: #ddd;
	-moz-border-radius: 12px; -webkit-border-radius: 12px; border-radius: 12px;
	cursor: pointer;
    vertical-align: middle;
}
.slider-1-nav span.slider-1-nav-item-active { background:#3D2BA5; }


/***** Top menu *****/

.navbar {
	margin-bottom: 0;
	background: #14427f;
	border: 0;
	-moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
}

ul.navbar-nav {
	font-size: 16px;
	color: #B9C1E6;
	text-transform: uppercase;
}

ul.navbar-nav li a { padding-top: 23px; padding-bottom: 23px; color: #fff; }
ul.navbar-nav li a:hover { background: none; color:#3D2BA5; }
ul.navbar-nav li a:focus { background: none; color:#3D2BA5; outline: 0; }

.navbar>.container 

.navbar-header {
		max-width: 70px;
}



/***** Page title *****/

.page-title {
	padding: 260px 0 210px 0;
}

.page-title-text {
	width: 700px;
	margin: 0 auto;	
	color: rgb(5, 26, 75);
}

.page-title-text h1 {
	color: rgb(5, 26, 75);
	text-shadow: 0 1px 6px rgba(255, 255, 255, 0);
}

.page-title-text p {
	margin-top: 20px;
    font-size: 22px;
    line-height: 36px;
    text-shadow: 0 1px 5px rgba(255, 255, 255, 0);
}

.page-title-bottom-link {
	padding-top: 25px;
	padding-bottom: 7px;
}


/***** What we do (block 3) *****/

.block-3-box {
	margin-top: 30px;
}

.block-3-box h3 {
	padding: 10px 0;
}

.block-3-box p {
	font-size: 18px;
    line-height: 32px;
}

.block-3-box .block-3-box-icon {
    width: 80px;
	height: 80px;
    margin: 0 auto;
	padding-top: 19px;
	background:#2B6AA5;
	border: 1px solid#086BFF;
	-moz-border-radius: 40px; -webkit-border-radius: 40px; border-radius: 40px;
	-o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
    font-size: 34px;
    color: #070101;
    line-height: 34px;
    text-align: center;
}
.block-3-box .block-3-box-icon:hover { background: none; color:#1C9AC0; }

.block-3-box .block-3-box-icon i, .block-3-box .block-3-box-icon span { vertical-align: middle; }


/***** Clients *****/

.clients-container {
	padding-bottom: 0;
}

.clients-text {
	text-align: left;
}

.clients-text h3 { color: #7683AD; }

.clients {
	padding-top: 30px;
	padding-bottom: 30px;
}

.clients a {
	display: inline-block;
	margin: 10px 20px;
}

.clients a:hover, .clients a:focus { outline: 0; opacity: 0.6; }


/***** Block 2 *****/

.block-2-container {
	padding-top: 50px;
}

.block-2-box {
	padding-top: 30px;
	padding-bottom: 20px;
	text-align: left;
}

.block-2-box.block-2-media { padding-bottom: 25px; }

.block-2-box h3 {
	padding: 10px 0;
}
.block-2-box h3:first-child { margin-top: 0; }

.block-2-box p {
	font-size: 18px;
    line-height: 32px;
}

.block-2-box ul {
	padding: 0;
	list-style: none;
	font-size: 18px;
    line-height: 32px;
}

.block-2-box ul li {
	padding: 5px 0;
}

.block-2-box ul span.list-icon {
	padding-right: 10px;
	font-size: 24px;
	color: #3D2BA5;
	vertical-align: middle;
}

.block-2-img-container {
	position: relative;
	display: inline-block;
	overflow: hidden;
}

.block-2-img-container .img-container-line {
	position: absolute;
	width: 180px;
	height: 1px;
	background: #898FC0;
	-ms-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); transform: rotate(-45deg);
}
.section-container-gray .block-2-img-container .img-container-line { background: #898FC0; }

.block-2-img-container .img-container-line.line-1 { top: 63px; left: -27px; }
.block-2-img-container .img-container-line.line-2 { top: 43px; left: -27px; }
.block-2-img-container .img-container-line.line-3 { top: 23px; left: -27px; }

.block-2-img-container img { -moz-border-radius: 0 0 40px 0; -webkit-border-radius: 0 0 40px 0; border-radius: 0 0 40px 0; }

.block-2-box .video-box {
	max-width: 540px;
	margin: 0 auto;
}


/***** Counters *****/

.counters-container {
	padding-top: 50px;
}

.counter-box h4 {
	font-size: 26px;
    font-weight: 700;
    line-height: 30px;
}

.counter-box p {
	font-size: 22px;
    line-height: 36px;
}


/***** Portfolio *****/

.portfolio-container {
    padding-bottom: 80px;
}

.portfolio p {
	margin-bottom: 20px;
}

.portfolio-filters {
	padding: 25px 0 20px 0;
	font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
}

.portfolio-filters a { color: #888; }
.portfolio-filters a:hover, .portfolio-filters a.active { color:#3D2BA5; }
.portfolio-filters a.active { font-weight: 700; }

.portfolio-box {
	position: relative;
	width: 255px;
	margin: 30px 15px 0 15px;
	overflow: hidden;
}

.portfolio-box img { -o-transition: all .8s; -moz-transition: all .8s; -webkit-transition: all .8s; -ms-transition: all .8s; transition: all .8s; }

.portfolio-box:hover img {
	opacity: 0.6;
	-o-transform: scale(1.25); -moz-transform: scale(1.25); -webkit-transform: scale(1.25); -ms-transform: scale(1.25); transform: scale(1.25);
}

.portfolio-box-text-container {
	position: absolute;
	bottom: -200px;
	left: 0;
	right: 0;
	width: 255px;
	-o-transition: all .6s; -moz-transition: all .6s; -webkit-transition: all .6s; -ms-transition: all .6s; transition: all .6s;
}

.portfolio-box-text {
	background: #F7F4F4;
	background: rgb(247, 245, 245, 0.8);
	color: #3A868B;
}
.portfolio-box:hover .portfolio-box-text-container { bottom: 0; }

.portfolio-box-text p {
	margin: 0;
	padding: 15px 20px;
	font-size: 18px;
    line-height: 32px;
    cursor: pointer;
}


/***** Our motto *****/

.our-motto { color: #F7EFEF; }

.our-motto p { margin-top: 10px; text-align: center; }

.our-motto-author {
	margin-top: 30px;
    font-size: 22px;
    line-height: 36px;
}


/***** Pricing tables *****/

.pricing-2-box {
	padding-top: 30px;
	padding-bottom: 20px;
}

.pricing-2-table { margin: 20px 0 0 0; padding: 25px; border: 4px solid #050505; }
.pricing-2-table-best { margin-top: 0; border-color:#3D2BA5; }

.pricing-2-table h3 { margin: 0; }
.pricing-2-table h4 { margin-top: 5px; font-size: 22px; font-weight: 300; line-height: 36px; }

.pricing-2-table-divider span { display: inline-block; width: 100%; height: 1px; border-bottom: 1px dotted #ddd; }

.pricing-2-table-icon {
	width: 80px;
	height: 80px;
    margin: 25px auto 0 auto;
	padding-top: 19px;
	background:#3D2BA5;
	-moz-border-radius: 40px; -webkit-border-radius: 40px; border-radius: 40px;
	font-size: 34px;
    color: #0C0909;
    line-height: 34px;
}
.pricing-2-table-icon i, .pricing-2-table-icon span { vertical-align: middle; }

.pricing-2-table-price { margin: 25px 0 10px 0; font-size: 18px; line-height: 44px; }
.pricing-2-table-price span { color: #555; font-size: 44px; }

.pricing-2-table-description { font-size: 18px; line-height: 32px; }
.pricing-2-table-description span { display: inline-block; padding-right: 10px; color: #444; }

.pricing-2-table-button { margin: 25px 0 10px 0; }


/***** Testimonials *****/

.testimonials {
	text-align: left;
}

.testimonials p {
	padding: 0;
	font-size: 18px;
	line-height: 32px;
}

.testimonial-single {
	display: inline-block;
}

.testimonial-single p {
	display: none;
}

.testimonial-single-image {
	display: inline-block;
	width: 58px;
	margin: 0 10px 10px 0;
}

.testimonial-single-image img {
	width: 100%;
	opacity: 0.3;
	cursor: pointer;
	-moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

.testimonial-active {
	padding-bottom: 20px;
}

.testimonial-active p a {
	display: inline-block;
	padding-top: 15px;
	color: #aaa;
	font-weight: 700;
}

.testimonials-container .container {
	position: relative;
	overflow: hidden;
}

.testimonials-icon-container {
	position: absolute;
	top: 50px;
	right: 0;
	padding-right: 20px;
	font-size: 320px;
	color: #0E0D0D;
	line-height: 300px;
	-ms-transform: rotate(20deg);
	-moz-transform: rotate(20deg);
	-webkit-transform: rotate(20deg);
	transform: rotate(20deg);
}


/***** Call to action *****/

.call-to-action p { margin-top: 10px; text-align: center; }


/***** About us *****/

.about-container {
	padding-bottom: 0;
}

.about-container .section-description { padding-bottom: 0; }
.about-container .section-description p { margin-bottom: 0; }

.about-block-2-container h3 span { color: #aaa; }

.about-social {
    margin-top: 5px;
    font-size: 31px;
}

.about-social a { margin: 0 10px 0 0; color: #ddd; }
.about-social a:hover, .about-social a:focus { color: #ddd; opacity: 0.6; }


/***** Contact us *****/

.contact-container {
	padding-top: 0;
	background: #444;
	color: #fff;
}

.contact-container h2 { color: #fff; }

.contact-container .divider-1 span { background: #666; }

.contact-form h3, .contact-address h3 { padding: 0 0 10px 0; color: #fff; }

.contact-form p { margin: 0; }

.contact-form form { margin: 15px 0 0 0; }

.contact-form form input, .contact-form form textarea {
    width: 95%;
    height: 52px;
    margin-bottom: 5px;
}

.contact-form form textarea { height: 162px; }

.contact-form form .contact-error { border-color:#3D2BA5; }

.contact-address p { margin-bottom: 5px; }

.contact-address p a { color: #fff; border: 0; }
.contact-address p a:hover, .contact-address p a:focus { color: #fff; border-bottom: 1px dotted #fff; }

.contact-address p i, .contact-address p span {
	width: 40px;
	font-size: 24px;
	color: #666;
	vertical-align: middle;
}

.contact-address p span { display: inline-block; }

.contact-container .container {
	position: relative;
	overflow: hidden;
}

.contact-icon-container {
	position: absolute;
	top: 300px;
	right: 0;
	padding-right: 20px;
	font-size: 320px;
	color: #555;
	line-height: 300px;
	-ms-transform: rotate(20deg);
	-moz-transform: rotate(20deg);
	-webkit-transform: rotate(20deg);
	transform: rotate(20deg);
}


/***** Footer *****/

#myFooter {
    background-color: #E6E9EC;
	color: white;
}

#myFooter .row {
    margin-bottom: 30px;
}

#myFooter .info{
    text-align: justify; 
    color: #afb0b1;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 0.7;
}

#myFooter h5 {
    font-size: 18px;
    color: #14427f;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter .logo{
    margin-top: 10px;
}

#myFooter .second-bar .logo a{
    color:#FFBC4B;
    font-size: 28px;
    float: left;
    font-weight: bold;
    line-height: 68px;
    margin: 0;
    padding: 0;
}

#myFooter h7{
	font-size: 10px;
	color: black;
	font-weight: bold;
}

#myFooter a {
    color: #14427f;
	text-decoration: none;
	font-size: 12px;
	}

#myFooter p {

	color: #14427f;
	text-decoration: none;
	font-size: 12px;

}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}

#myFooter .second-bar {
    text-align: center;
    background-color: #FFBC4B;
	bottom: 0;
}

#myFooter .second-bar a {
    font-size: 22px;
    color: #9fa3a9;
    padding: 10px;
    transition: 0.2s;
    line-height: 68px;
}

#myFooter .second-bar a:hover {
    text-decoration: none;
}

#myFooter .social-icons {
    float:right;
}


#myFooter .facebook:hover {
    color: #0077e2;
}

#myFooter .google:hover {
    color: #ef1a1a;
}

#myFooter .twitter:hover {
    color: #00aced;
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }

    #myFooter .info{
        text-align: center;
    }
}



/* CSS used for positioning the footers at the bottom of the page. */
/* You can remove this. */

html{
    height: 100%;
}

body{
    
    height: 100%;
}

.content{
   flex: 1 0 auto;
   -webkit-flex: 1 0 auto;
   border: 0px;
   min-height: 200px;
}

#myFooter{
   flex: 0 0 auto;
   -webkit-flex: 0 0 auto;
}



button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
	color: #000000;
	font-size: 23px;
}

.checklistType ul li {
 
	list-style: none;
	font-size: 20px;
    color: #95a5a6;
}

.checklistType ul{

	text-align: center;
}

.checklistButton{

	background: none;
	border:none;
	color:#1F4788;
	font-weight: bold;

}

.checklistType input[type=radio]{

	border:10px solid red;
}
 
#checklistTitle{

	text-transform: initial;
}

#logo img{
    width: 65px;
    margin-left: 5px;
}

.checklistAnswer ul li {
	
	   list-style: none;
	   font-size: 20px;
	   color: #95a5a6;
   }
   
   .checklistAnswer ul{
   
	   text-align: center;
   }

   .answerButton{
	
		background: none;
		border:none;
		color:#1F4788;
		font-weight: bold;
	
	}

	#questionDescription{

	margin-top: 20px;
	font-size: 32px;
    font-weight: bold;
    color: #1F4788;
    line-height: 30px;
    text-transform: initial;
		
	}
	
	#successMessage{

		font-size: 32px;
		color: #1F4788;
		font-weight: bold;
		text-transform: initial;
	}
	#errorMessage{
		
				font-size: 32px;
				color: #1F4788;
				font-weight: bold;
				text-transform: initial;
	}

	.backButton{
		
			background: none;
			border:none;
			color:#1F4788;
			font-weight: bold;
		
		}