<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cartilha CAE</title>
</head>
<body style="background-color: rgb(38,38,38); height: 100%; width: 100%; overflow: hidden; margin: 0">
        <embed width="100%" height="100%" src="http://localhost:8000/view_pdf_cae/CartilhaCAE.pdf" type="application/pdf" internalinstanceid="8" title=""> 
</body>
</html>