*.pyc
__pycache__
.DS_Store
src/user/migrations/*
src/search_school/migrations/*
src/checklist/migrations/*
src/agendar_reuniao/migrations/*
src/agendar_visita/migrations/*
src/nuvem_civica/migrations/*
src/acessar_documento/migrations/*
*.sqlite3
*.coverage
