{% extends "Base.html" %} 
{% block body %}
<body>
    <section id="cover" class="cover">
      <div class="page-title top-content" style="color: blue;"><h1>Sobre o FisCAE</h1></div>
          <div class="page-title-text wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;text-align: center;">
              <p style="color: black;">O FisCAE é uma plataforma web que tem o objetivo de dar suporte aos Conselheiros Alimentares de todo o Brasil.<br>
                <br>
                Conheça mais:<br></p>
                <a target="_blank" href="http://www.fnde.gov.br/programas/pnae/pnae-eixos-de-atuacao/pnae-conselho-de-alimentacao-escolar-cae" button class="backButton" style="font-size:25px">Sobre o CAE</button><br><br>
                <a target="_blank" href="http://www.fnde.gov.br" button class="backButton" style="font-size:25px">Sobre o FNDE</button><br><br>
          </div>
        </div>
    </section>
</body>
  
{% endblock %}