{% extends "Base.html" %}
{% block body %}
<body>
    <div class="page-title top-content" style="position: relative; z-index: 0; background-image: none; background-position: initial initial; background-repeat: initial initial;">
        <div class="page-title-text wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;text-align: center;">
            <h1>Bem vindo ao FisCae</h1>
            <p>Uma plataforma de apoio aos <br>Conselheiros Alimentares Escolares de todo o Brasil! </p><p>Escolha uma das opções abaixo<br>
                para navegar nas funcionalidades do nosso sistema:</p>
        </div>
        <div class="backstretch" style="left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; height: 722px; width: 100%; z-index: -999998; position: absolute; ">
            <!--<img src="static/assets/img/backgrounds/BG_2.jpg" style="position: absolute; margin: 0px; padding: 0px; border: none; width: 100%; height: auto; max-height: none; max-width: none; z-index: -999999; left: 0px; top: -328.0625px;">-->
            <img src="static/assets/img/backgrounds/BG_2.jpg" style="position: absolute; margin: 0px; padding: 0px; border: none; width: 100%; height: auto; max-height: none; max-width: none; z-index: -999999;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            opacity: 0.5;
            transform: translate(-50%, -50%)">

        </div>
    </div>

    <!-- What we do -->
    {% if request.user and request.user.is_authenticated %}
    <div class="block-3-container section-container what-we-do-container">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 block-3 section-description wow fadeIn">
                    <div class="divider-1 wow fadeInUp">
                        <span style="width: 100%"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 block-3-box wow fadeInUp">
                    <div class="block-3-box-icon">
                        <span aria-hidden="true" class="icon_pencil"></span>
                    </div>
                    <h3><a href="{% url 'agendar_reuniao:scheduled' %}">Agendar reunião ou visita</a></h3>
                    <p>Marque as reuniões e visitas</p>
                </div>
                <div class="col-sm-3 block-3-box wow fadeInDown">
                    <div class="block-3-box-icon">
                        <span aria-hidden="true" class="icon_key"></span>
                    </div>
                    <h3><a href="{% url 'checklist:checklistForm' %}">Iniciar visita a uma escola</a></h3>
                    <p>Iniciar visita à escola.</p>
                </div>
                <div class="col-sm-3 block-3-box wow fadeInUp">
                    <div class="block-3-box-icon">
                        <span aria-hidden="true" class="icon_pencil"></span>
                    </div>
                    <h3>Denúncia</h3>
                    <p>Viu alguma irregularidade e quer informar aos orgãos competentes?</p>
                </div>
                <div class="col-sm-3 block-3-box wow fadeInDown">
                    <div class="block-3-box-icon" href="{% url 'acessar_cartilha:view_pdf_cae' %}">
                        <span aria-hidden="true" class="icon_pencil"></span>
                    </div>
                    <a href="{% url 'acessar_cartilha:view_pdf_cae' %}"><h3>Cartilha</h3></a>
                    <p>Acesse aqui a cartilha do PNAE para os CAEs</p>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

   
{% endblock %}

