{% extends "Base.html" %}
{% block body %}

{% if request.user and request.user.is_authenticated %}    
<div id="personalizadoform" >
    <h1>Agendar Visita</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <h3>Escola: {{ school }}</h3>
        <label for="date" style="font-size:20px; display:inline-block;width:100px;">Data</label>
        <input type="date" class="input-date" name="date" required><br>
        <label for="time" style="font-size:20px; display:inline-block;width:100px;">Horário</label>
        <input type="time" class="input-time" name="time" required><br>
        <label for="members" style="font-size:20px; display:inline-block;width:100px;">Membros</label></br>
        <input type="text" style="display:inline-block;text-align:center; color:black ; width:30% ; height:100px" name="members" id="members" maxlenght="1000" placeholder="Insira as observacoes" required size="100px"></br></br>
        <button type="submit" class="btn btn-primary" id="submit">Salvar</button></br>
        </form></br>
    </form> 
    <a href="{% url 'agendar_visita:visitScheduled' %}">Visitas marcadas</a>                
</div>

{% else %}

  <div id="errorMessage">
    <br><br><br><br>
      <h3>Acesso não permitido</h3><br><br>
      <a href="{% url 'user:login' %}" button class="backButton">Faça login para continuar</button><br><br>
  </div>
            
{% endif %}

{% endblock %}
