{% extends "/usr/src/app/checklist/templates/Base.html" %} {% block body %}
<div class="page-header">
</div>
<div class="content container">
  <div class="row">
    <div class="col-md-12" "col-md-push-4" align="center">
      <h1>Escolha uma escola:</h1>
      <form method="post" novalidate>
        {% csrf_token %} 
        {% for field in schoolForm %}
          <div class="checklistType">{{ field }}</div>
        {% endfor %} 
        <button type="submit">OK</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}