{% extends "Base.html" %} {% block body %}
{% block content %}
<div style="margin-top : 10%;">
<h3>CADASTRAR</h3>
<form method="post">
  <table align="center">
  {% csrf_token %}
  {% for field in form %}
    <tbody>
    <tr>
    <p>
      <td>
      <label for="{{ field.label }}" style="display:inline-block;vertical-align:middle">{{ field.label_tag }}</label>
      </td>
      <td>
      {{ field }}
      </td>
      <td>
      {% if field.help_text %}
        <small style="color: grey">{{ field.help_text }}</small>
      {% endif %}
      </td>
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    </p> 
    </tr>
  {% endfor %}
  </tbody>
  </table>
  <button type="submit">Salvar</button>
</form>
{% endblock %}
{% endblock %}
</div>