{% extends "Base.html" %}

{% block body %}  
  <div style="margin-top: 5%">    
    <form method="POST">
      {% csrf_token %}
      <label>Nova senha</label><br>      
      <input type="password" name="password" id="password" maxlength="30" required oninput="validatePassword();" > </br>
      <label>Confirmar senha</label><br>      
      <input type="password"  id="password_confirmation"  name="password_confirmation"  maxlength="30" required oninput="validatePassword();"> </br><p></p>
      <button type="submit">Salvar</button><br>
      <p class="error" id="password-validation"></p>
      
    </form>
  </div>
{{ mensagem }}
  <!-- <script type="text/javascript">
    var passwordInput = document.getElementById('password');
    var passwordConfirmationInput = document.getElementById('password_confirmation');
    var passwordValidation = document.getElementById('password-validation');
    var submitInput = document.getElementById('submit-register');
    submitInput.disabled = true;
    function validatePassword() {
        if(passwordInput.value === '' || passwordConfirmationInput.value === '') 
            return;
        if(passwordInput.value !== passwordConfirmationInput.value) {
            passwordValidation.innerHTML = 'você está inserindo uma senha diferente no campo de confirmar senha</p>';
            submitInput.disabled = true;
        } else {
            passwordValidation.innerHTML = '';
            submitInput.disabled = false;
        }
    };
 </script> -->
{% endblock %}