{% extends "Base.html" %}

{% block body %}  
  <div style="margin-top: 5%">    
    <form method="POST">
      {% csrf_token %}
      <label>Nova senha</label><br>      
      <input type="password" name="password" id="password" pattern="(?=.*[A-Za-z])(?=.*\d)[A-Za-z\u00C0-\u00FF !@#;$%?&<>*(){}_+^-=,.:°\d]{6,}" minlength="6" maxlength="30" required oninput="validatePassword();" placeholder="Nova senha"> </br>
      <h4>• Deve conter letras e números</h4>
      <h4>• Tamanho mínimo: 6</h4>
      <label>Confirmar senha</label><br>
      <input type="password"  id="password_confirmation" name="password_confirmation" pattern="(?=.*[A-Za-z])(?=.*\d)[A-Za-z\u00C0-\u00FF !@#;$%?&<>*(){}_+^-=,.:°\d]{6,}" minlength="6" maxlength="30" required oninput="validatePassword();" placeholder="Confirme a senha"> </br><p></p>
      <button type="submit" class="btn btn-primary">Salvar</button><br>
      <p class="error" id="password-validation"></p>
      
    </form>
  </div>
{{ mensagem }}
  <!-- <script type="text/javascript">
    var passwordInput = document.getElementById('password');
    var passwordConfirmationInput = document.getElementById('password_confirmation');
    var passwordValidation = document.getElementById('password-validation');
    var submitInput = document.getElementById('submit-register');
    submitInput.disabled = true;
    function validatePassword() {
        if(passwordInput.value === '' || passwordConfirmationInput.value === '') 
            return;
        if(passwordInput.value !== passwordConfirmationInput.value) {
            passwordValidation.innerHTML = 'você está inserindo uma senha diferente no campo de confirmar senha</p>';
            submitInput.disabled = true;
        } else {
            passwordValidation.innerHTML = '';
            submitInput.disabled = false;
        }
    };
 </script> -->
{% endblock %}