<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <title>Fiscae</title>
</head>
<body>
    <h1>registrar</h1>
    <p>id*</p>
    <forms method= post>
        <input type="text" name="id" maxlength="10"> </br>
        <p>nome*</p>
        <input type="text" name="nome" maxlength="64"> </br>
        <p>email*</p>
        <input type="email" name="email" maxlength="100"></br>
        <p>cpf*</p>
        <input type="number" name="cpf1" min="0" max="999">.<input type="number" name="cpf2" min="0" max="999">.<input type="number" name="cpf3" min="0" max="999">-<input type="number" name="cpf4" min="0" max="99"></br>
        <p>telefone</p>
        <input type="number" name="ddd" min="0" max="99"><input type="number" name="telefone" min="0" max="999999999"></br>
        <p>cep*</p>
        <input type="number" name="cep" min="0" max="99999999"></br>
        <p>uf* </p>
        <input type="text" name="uf" maxlength="2"> </br>
        <p>municipio*</p>
        <input type="text" name="municipio" maxlength="30"> </br>
        <p>bairro*</p>
        <input type="text" name="bairro" maxlength="30"> </br>
        <p> complemento</p>
        <input type="text" name="descricao" maxlength="50"> </br>
        <p>senha*</p>
        <input type="password" name="senha" maxlength="10"> </br>
        <p>confirme sua senha*</p>
        <input type="password" name="confirme" maxlength="10"></br>
        <button type="button">registrar</button>

    </forms>
    <p>*itens obrigatórios</p>
</body>
</html>