{% extends 'Base.html' %}
{% block body %}
<style>
    .center {
        display: flex;
        align-items: center;
        justify-content: center;
    }
  </style>
<form method="POST">
    {%csrf_token%}       
    <br><br><br>
    <label>Digite seu email</label>
    <input type="text" style="text-align:center; color:#707070; border:1px; border-style: solid; border-radius: 8px ;width:30% ; height:56px" name="email" id="email" required><p></p>
    <div class="center">
        <button type="submit" id="submit-register" class="btn btn-primary btn-block btn-large" 
      style="width: 150px; height: 50px">Enviar</button><br>
    </div>  
{% endblock %}