{% extends "Base.html" %} {% block body %}
{% block content %}
<style>
    .center {
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>
<div style="margin-top : 10%;">
<h3>EDITAR PERFIL</h3>
<form method="post">
    {% csrf_token %}
    <table align="center">  
        {{ form }}
  </table>
  <div class="center">
    <a href="{% url 'user:userDelete' %}"><h4>Excluir Conta | </h4></a><br>
    <a href="{% url 'user:change_password' %}"><h4> Alterar Senha</h4></a>
  </div>
  <div class="center">
    <button type="submit" id="submit-register" class="btn btn-primary btn-block btn-large" 
  style="width: 150px; height: 50px">Salvar</button><br>
  </div>
</form>
{% endblock %}
</div>

<!-- Javascript -->
<script type="text/javascript" >  
  function limpa_formulário_cep() {
      //Limpa valores do formulário de cep.
      document.getElementById('bairro').value=("");
      document.getElementById('municipio').value=("");
      document.getElementById('uf').value=("");
      }

  function meu_callback(conteudo) {
      if (!("erro" in conteudo)) {
          //Atualiza os campos com os valores.
          document.getElementById('bairro').value=(conteudo.bairro);
          document.getElementById('municipio').value=(conteudo.localidade);
          document.getElementById('uf').value=(conteudo.uf);
      } //end if.
      else {
          //CEP não Encontrado.
          limpa_formulário_cep();
          alert("CEP não encontrado.");
      }
  }
      
  function pesquisacep(valor) {

      //Nova variável "cep" somente com dígitos.
      var cep = valor.replace(/\D/g, '');

      //Verifica se campo cep possui valor informado.
      if (cep != "") {

          //Expressão regular para validar o CEP.
          var validacep = /^[0-9]{8}$/;

          //Valida o formato do CEP.
          if(validacep.test(cep)) {

              //Preenche os campos com "..." enquanto consulta webservice.
              document.getElementById('bairro').value="...";
              document.getElementById('municipio').value="...";
              document.getElementById('uf').value="...";
              

              //Cria um elemento javascript.
              var script = document.createElement('script');

              //Sincroniza com o callback.
              script.src = '//viacep.com.br/ws/'+ cep + '/json/?callback=meu_callback';

              //Insere script no documento e carrega o conteúdo.
              document.body.appendChild(script);

          } //end if.
          else {
              //cep é inválido.
              limpa_formulário_cep();
              alert("Formato de CEP inválido.");
          }
      } //end if.
      else {
          //cep sem valor, limpa formulário.
          limpa_formulário_cep();
      }
  };
</script>                 
{% endblock %}