{% extends "Base.html" %}

{% block body %}
  <div style="margin-top: 5%">
    <form method="POST">
      {% csrf_token %}
        <label>Nome</label><br>{{ form.name }}<br><br>
        <label>Telefone</label><br> {{ form.phone }}<br><br>
        <label>E-mail</label><br> {{ form.email }}<br><br>
        <label>CPF</label><br> {{ form.cpf }}<br><br>
        <label>CEP</label><br>{{ form.cep }}<br><br>
        <label>Descrição</label><br> {{ form.descricao }}<br><br>
        <label>Bairro</label><br> {{ form.bairro }}<br><br>
        <label>Município</label><br>  {{ form.municipio }}<br><br>
        <label>UF</label><br> {{ form.uf }}<br><br>
          <button type="submit" class="btn btn-primary" id="submit">Salvar</button>
          <a href="../../">Voltar</a> 
    </form>
  </div>
  <a href="{% url 'user:userDelete' id %}">Excluir conta</a>

{% endblock %}


