<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Cartilha CAE</title>
    </head>
    <body>
            <!-- <a href="../../media/Novo_Documento_2017-09-13_18.19.55_20170913182145649.pdf"   target="_blank">pdf_001</a> -->
            {% for l in lista %}
                <a href="viewpdf/{{ l.title }}">{{ l.title }}</a><br>
            {% endfor %}
    </body>
</html>