{% extends "Base.html" %}
{% block body %}

<div class="page-title top-content" style="position: relative; z-index: 0; background-image: none;
  background-position: initial initial; background-repeat: initial initial;
  top: 50%; left: 50%;transform: translate(-50%, -50%)">
  <div class="container">
      <div class="content container">
        <div class="row">
          <p>Nome</p>
          <div><textarea name="nome" id="nome" cols="30" rows="1" maxlength="100"></textarea></div>
          <p>Denúncia</p>
          <div><textarea name="nome" id="nome" cols="30" rows="5" maxlength="250"></textarea></div>
          <button class="btn btn-info" style="width: 150px; height: 50px" type="submit">Confirmar</button>
        </div>
      </div>
    </div>
</div>

{% endblock %}