{% extends "Base.html" %}
{% block body %}
  <!-- input school name -->
  <div class="page-title top-content" style="position: relative; z-index: 0; background-image: none; background-position: initial initial; background-repeat: initial initial;">
    <div class="page-title-text wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
      <h1>Olá CAE, vamos iniciar a visita?</h1>
      <!-- <p> Entre com o nome da escola em que a visita será realizada:</p> -->
    </div>


    <div class="container">
      

    <!-- <label for="pwd">Nome da escola:</label> -->
    <form action="{% url 'findSchool' %}" method="POST">
        {% csrf_token %}
        <input id="id_school" name="school" type="text" class="" placeholder="Digite o nome da escola" style="width: 80%; height: 60px" required>
        <hr/>
        <button class="btn btn-info" style="width: 400px; height: 50px" type="submit">Procurar escola</button>
      </form>
 
    </div>
      <div class="backstretch" style="left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; height: 722px; width: 100%; z-index: -999998; position: absolute;"><img src="static/assets/img/backgrounds/" style="position: absolute; margin: 0px; padding: 0px; border: none; width: 2450px; height: 1378.125px; max-height: none; max-width: none; z-index: -999999; left: 0px; top: -328.0625px;"></div>
   </div>
  

  <!-- What we do -->
  <div class="block-3-container section-container what-we-do-container">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 block-3 section-description wow fadeIn">
          <div class="divider-1 wow fadeInUp"><span></span></div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3 block-3-box wow fadeInUp">
          <div class="block-3-box-icon">
            <span aria-hidden="true" class="icon_key"></span>
          </div>
          <h3>Login</h3>
          <p>Acesse com seu id e senha para agendar reuniões e preencher formulário de visita</p>
        </div>
        <div class="col-sm-3 block-3-box wow fadeInDown">
          <div class="block-3-box-icon">
            <span aria-hidden="true" class="icon_book"></span>
          </div>
          <h3>Cartilha</h3>
          <p>Acesse aqui a cartilha do PNAE para os CAEs</p>
        </div>
        <div class="col-sm-3 block-3-box wow fadeInUp">
          <div class="block-3-box-icon">
            <span aria-hidden="true" class="icon_pencil"></span>
          </div>
          <h3>Denúncia</h3>
          <p>Viu alguma irregularidade e quer informar aos orgão competentes? Clique aqui! </p>
        </div>
        <div class="col-sm-3 block-3-box wow fadeInDown">
          <div class="block-3-box-icon">
            <span aria-hidden="true" class="icon_info"></span>
          </div>
          <h3>Info</h3>
          <p>Quer saber mais sobre o CAE?</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}